<panel ng-cloak>
    <panel-heading><h1>Tasks</h1></panel-heading>
    <tabset>
        <tab heading="Running"></tab>
    </tabset>
    <p>
        <button type="button" class="btn btn-primary btn-xs pull-right margin-top-xs" ng-click="refreshList()">Refresh</button>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Group</th>
            <th>Key</th>
            <th>Status</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">
            <td>{{task.groupKey}}</td>
            <td>{{task.key}}</td>
            <td>{{task.barLabel}}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{task.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task.percent}}%;">
                        {{task.percent}}%
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</panel>