<div ng-switch on="videos.length">
    <div ng-switch-when="0">
        <panel heading="{{ 'SEARCH' | translate }}">
            <div ng-include="'js/modules/search/widget/search.html'"></div>
            {{ 'NO_RESULTS' | translate }}
        </panel>
    </div>
    <div ng-switch-default>
        <panel heading="{{ 'SEARCH' | translate }}">
            <div ng-include="'js/modules/search/widget/search.html'"></div>
        </panel>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'VIDEO' | translate }}
            </div>
            <div class="panel-body scroll-x">
                <table><tr>
                    <td class="valign-top" ng-repeat="video in videos">
                        <tile-video video="video" details="true"></tile-video>
                    </td>
                </tr></table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'SERIES' | translate }}
            </div>
            <div class="panel-body scroll-x">
                <table><tr>
                    <td class="valign-top" ng-repeat="video in videos">
                        <tile-video video="video" details="true"></tile-video>
                    </td>
                </tr></table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'PERSONS' | translate }}
            </div>
            <div class="panel-body scroll-x">
                <table><tr>
                    <td class="valign-top" ng-repeat="video in videos">
                        <tile-video video="video" details="true"></tile-video>
                    </td>
                </tr></table>
            </div>
        </div>
    </div>
</div>