<div ng-cloak>
    <div class="page-header">
        <h1>Admin Files</h1>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Actions
                </div>
                <div class="panel-body">
                    <button ng-repeat="action in actions" ng-click="execute(action)">{{action.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>