.frame {
  height: auto;
  overflow: hidden;
  @media (min-width: $screen-sm-min) {
    height: auto;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 50px;
    height: 100%;
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 50px;
    height: 100%;
  }
}

.left-frame {
  @extend .frame;

  height: 0%;
  @media (min-width: $screen-sm-min) {
    height: 0%;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 70px;
    height: 100%;
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 70px;
    height: 100%;
  }
}

.main-frame {
  @extend .frame;
  padding-top: 50px;
  padding-right: 0;
  padding-left: 0;
  .frame-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
  }
}

.right-frame {
  @extend .frame;
  padding-left: 0;
  padding-right: 0;
}