.left-frame {
  .panel-body {
    padding: 10px;
  }
}


.side-panel {
  padding-top: 5px;
  background-color: #A9A9A9;
  &.side-panel-right {
    .panel-body {
      background-color: #cccccc;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.side-panel-left {
    .panel-body {
      padding-right: 10px;
    }
  }
  &.last-panel {
    padding-bottom: 5px;
  }
  &.scrollable {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}