<panel ng-cloak>
    <panel-heading><h1>Maintenance</h1></panel-heading>
    <tabset>
        <tab heading="{{action}}" ng-repeat="action in actions" ng-click="execute(action)"></tab>
    </tabset>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th><th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td><td>{{item.name}}</td>
            </tr>
        </tbody>
    </table>
</panel>